<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        
    ul{
        list-style-type:none;
    }
    body {
        display: flex;
        background-color: aqua;
        justify-content: center;
        align-items: center;
    }
    </style>
</head>
<body>
    <a href="https://naruto.fandom.com/pt-br/wiki/Wiki_Naruto" >Naruto</a>

    <img src="static/minato.PNG">


<h1>
<ul>
<li>Marcus</li>
<li>Samara</li>
<li>Rodrigo</li>
<li>Yasmin</li>
</ul>
</h1>


</body>
</html>




